*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: rgb(80, 151, 210);
    font-family:Arial, Helvetica, sans-serif
}
.login{
    display: flex;
    justify-content: flex-end;
}
.form-login{
    display: block;
    padding: 5px;
    margin-right: 25px;
}
.form-login label{
    color:rgba(1, 16, 30, 0.653);
    font-weight: bold;
    font-size: 12px;
}
.form-login .label-email{
    margin-left: 2px;
}
.form-login .label-contrasenya{
    margin-left: 166px;
}
.form-login input{
    width: 200px;
    height: 35px;
    border-radius: 4px;
    padding: 5px;
}
.form-login .boton-entrar{
    height: 35px;
    color: white;
    border: 1px solid rgba(2, 178, 226, 0.737);
    background-color: rgb(104, 201, 240);
    width: 80px;
}
.boton-entrar:hover{
    cursor: pointer;
    background-color: rgb(55, 204, 223);
}
.div-recordar{
    width: 200px;
    height: 30px;
    display: flex;
    align-items:center;
    /* border: 1px solid black; */
}
#recordar{
    margin-right: 1px;
    width: 15px;
    margin-bottom: 5px;
}
#label-recordar{
    color: white;
    font-size: 10px;
    margin-bottom: 3px;
}
.div-olvidado-contrasenya{
    /* border: 1px solid black; */
    display: flex;
    width: 200px;
    height: 30px;
    display: flex;
    align-items:center;
    font-size: 11px;
    margin-left: 5px;
}
.div-olvidado-contrasenya a{
    color: rgba(255, 255, 255, 0.72);
    margin-bottom: 5px;
}
.bajo-inputs{
    /* border: 1px solid black; */
    display: flex;
}


/* CSS QUE ES TUENTI */

.article{
    display: flex;
}

.que-es-tuenti{
    color: white;
    display: flex;
    /* border: 1px solid black; */
    width: 50%;
    height: 75vh;
    justify-content: center;
    align-items: center;
}
.tuenti-contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    width: 260px;
    margin-left: 355px;
    text-align: end;
    height: 40vh;
    margin-bottom: 13vh;
    /* border: 1px solid black; */
}
.tuenti-contenido h1{
    font-size: 65px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

}
.tuenti-contenido h2{

    font-size: 15px;
    margin-bottom: 2px;
}
.tuenti-contenido p{
    line-height: 15px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.731);
}

.que-es-tuenti img{
    width: 60px;
    height: 60px;
}

/* SOCIAL LOCAL MOVIL */

.social-local-movil{
    /* border: 1px solid black; */
    display: flex;
    width: 50%;
    align-items: center;
}

.social-local-movil .social-contenido{
    /* border: 1px solid black; */
    display: flex;
    margin-bottom: 13vh;
    flex-direction: column;
    justify-content: space-evenly;
    width: 300px;
    height: 35vh;
    margin-left: 40px;
}
.social-contenido img{
    float: left;
    /* border: 1px solid black; */
    width: 60px;
    height: 50px;
}
.social-contenido h5{
    margin-bottom: 5px;
    font-size: 15px;
    color: white;
}
.social-contenido p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.726);
}
.linea-vertical{
    width: 1px;
    height: 40vh;
    border: 1px solid rgba(0, 0, 0, 0.151);
    margin-top: 85px;
}
.linea-horizontal{
    margin-left: 63vw;
    width: 35vw;
    height: 1px;
    border: 1px solid rgba(0, 0, 0, 0.151);
}
.quieres-una-cuenta p{
    color:rgba(255, 255, 255, 0.731);
    margin-top: 5px;
    font-size: 12px;
}
.quieres-una-cuenta{
    /* border: 1px solid black; */
    margin-left: 88vw;
}

/* REGISTRO */

.registro{
    margin: 0 auto;
    /* margin-top: 5vh; */
    border: 1px solid rgb(177, 175, 175);
    width: 40vw;
    height: 85vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
.h1-tuenti{
    /* border: 1px solid black; */
    width: 15vw;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: wheat;
}
.h1-tuenti img{
    width: 55px;
    height: 55px;
}
.h4-registro{
    background-color: rgb(248, 247, 241);
    border-bottom: 1px solid rgb(142, 141, 141);
    height: 6vh;
    width: 100%;
    line-height: 6vh;
}
.h4-registro h4{
    font-size: 18px;
    margin-left: 10px;
}
.form-registro{
    text-align: right;
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
}
.form-registro .input-registro{
    width: 25vw;
    height: 4vh;
    margin: 5px;
    padding: .5em;
}
.form-registro .genre-class{
    text-align: center;
    line-height: 7vh;
    /* border: 1px solid black; */
    width: 50%;
    margin-left: 107px;
    height: 7vh;
}
.genre-class label{
    font-size: 15px;
    margin-right: 20px;
}
.form-registro .condiciones-de-uso{
    margin: 0 auto;
    /* border: 1px solid black; */
    width: 90%;
    text-align: start;
    font-size: 13px;
    line-height: 17px;
}
.form-registro .continuar{
    /* border: 1px solid black; */
    text-align: center;
    margin-right: 145px;
    margin-top: 25px;
}
.continuar input{
    background-color: rgba(208, 201, 201, 0.5);
    width: 90px;
    border-radius: 4px;
    height: 30px;
    border: 1px solid rgb(140, 137, 137);
    cursor: pointer;
}
.continuar input:hover{
    background-color: rgba(169, 166, 166, 0.671);
}
.condiciones-de-uso input{
    width: 17px;
    height: 17px;
    margin-right: 8px;
}
.errores-registro {
    margin-top: .2em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 1em;
    border-radius: 10px;
    background-color: #addeff23; /* color de fondo */
    margin-bottom: 1em; /* espacio entre los errores y el siguiente elemento */
  }

.errores-registro p {
    margin: 0;
    margin-bottom: .5em;
    font-weight: bold;
    color: #f84646; /* color de texto rojo */
}

/* CABECERA */

.cabecera{
    color: white;
    display: flex;
    align-items: center;
    max-width: 100%;
    height: 7vh;
    background-color: rgb(38, 75, 239);
    /* border: 1px solid black; */

    /* justify-content: space-between; */
}
.cabecera .cabecera-1{
    margin-left: 2em;

    /* border: 1px solid black; */
    display: flex;
    width: 55%;
    height: 7vh;
    align-items: center;
}
.cabecera .cabecera-2{
    margin-right: 2em;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
    height: 7vh;
    justify-content: flex-end;
    width: 45%;
}
.cabecera .logo{
    color: white;
    font-size: 20px;
    display: flex;
}
.cabecera img{
    margin-top: .15em;
    width: 2em;
    height: 2em;
}
.cabecera nav{
    height: 7vh;
    line-height: 7vh;
    /* border: 1px solid black; */
}
.cabecera ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-right: 2em;
    margin-left: 2em;
}

.cabecera nav ul li:hover{
    transition: .1s;
    font-weight: bold;
    background-color: rgba(15, 40, 152, 0.763);
}
.cabecera a{
    color: white;
}
.cabecera input{
    height: 4vh;
    padding: 5px;
}
.cabecera nav ul li{
    transition: .1s;
    text-align: center;
    width: 5em;
    /* border: 1px solid black; */
    color: white;
}

.upload-button{
    display: flex;
    width: 8em;
    justify-content: center;
    align-items: center;
    padding: .3em;
    margin-left: 2em;
    font-size: 14px;
    background-color: rgb(2, 29, 147);
    font-weight: bold;
    border-radius: 4px;
    border: 1px solid rgba(90, 110, 195, 0.566);
}
.upload-button:hover{
    cursor: pointer;
    background-color: rgb(2, 21, 109);
}
.form-control{
    margin-left: -1em;
    width: 14em;
    height: 2em;
    border-radius: 2px;
    border: 1px solid rgba(90, 110, 195, 0.566);

}

/* MAIN */

main{
    display: flex;
    /* justify-content: space-between; */
    min-height: 100vh;
    background-color: white;
}
.novedades{
    /* border: 1px solid red; */
    height: 100%;
    padding: .5rem;
}
.novedades h3{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.novedad{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    min-height: 10vh;
    padding: .5rem;
    /* border: 1px solid black; */
}
.novedad a{
    /* border: 1px solid black; */
    font-size: 17px;
    color: blue;
    font-weight: bold;
    margin-left: 1rem;
}
.novedad a:hover{
    text-decoration: underline;
}
.novedad p{
    /* border: 1px solid black; */
    margin-left: 1rem;
}
.novedad img{
    width: 50px;
    height: 50px;
    border: 1px solid rgb(96, 96, 96);
    padding: .06em;
}
.novedad .img-novedad{
    width: 7em;
    height: 4em;
    margin-left: 1em;
}

.lateral-izq{
    /* border: 1px solid black; */
    width: 22.5%;
    display: flex;
    justify-content: center;
}
.lateral-der{
    /* border: 1px solid black; */
    width: 22.5%;
    display: flex;
    flex-direction: column;

}
.central{
    width: 55%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.central .form-estado{
    /* border: 1px solid green; */
    height: 7.3em;
    width: 100%;
    display: flex;
    border: 0 auto;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
}
.central .form-estado .estado{
    height: 2.5em;
    padding: 15px;
    border-radius: 5px;
    font-size: 20px;
    /* width: 90%; */
}
.central .form-estado .guardar{
    width: 9em;
    height: 2.3em;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    background-color: rgba(38, 61, 241, 0.826);
    color: white;
}
.central .form-estado .guardar:hover{
    background-color: rgb(38, 62, 241);
    cursor:pointer;
}
.form-estado .ultima-act{
    /* border: 1px solid green; */
    margin-top: 0.5em;
    display: flex;
    margin-left: 0.1em;
    margin-right: 0.1em;
    justify-content: space-between;
    align-items: center;
}
.form-estado .ultima-act p{
    font-size: 13px;
}
.placeholder-effect::placeholder {
    transform: translate(5px, -10px);
    font-size: 10px;
    transition: all 0.2s ease-in-out;
}
.input-registro::placeholder {
    color: rgba(142, 142, 142, 0.686);
    transition: all 0.2s ease-in-out;
}

.profile-izq{
    background-color: rgba(213, 215, 216, 0.571);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    /* border: 2px solid rgb(216, 31, 31); */
}
.profile-izq img{
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.274);
    width: 90%;
    height: 40%;
    margin-top: 1em;
}
.profile-izq ul{
    display: flex;
    flex-direction: column;
    padding: 20px;
    list-style: none;
    /* border: 1px solid black; */
}
.profile-izq ul li{
    padding: 9px;
    font-size: 14px;
}
.profile-izq h3{
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 1em;
}

/* MENSAJES */
.messages{
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    width: 90%;
}


.message{
    border-radius: 1px;
    display: flex;
    height: 5em;
    align-items: center;
    padding: 20px;
    /* border: 1px solid red; */
}
.message:hover{
    background-color: rgba(181, 210, 235, 0.482);
}
.messages img{
    border-radius: 1px;
    margin-right: 1em;
    border: 1px solid rgba(151, 148, 148, 0.699);
    width: 3em;
    height: 3em;
}

.btn-new-message{
    width: 14rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
    border: 1px solid black;
    height: 2rem;
    border-radius: 3px;
    color: rgb(43, 42, 42);
    background-color: rgb(243, 241, 241);

}
.btn-new-message:hover{
    background-color:rgb(218, 218, 217);
}
.btn-new-message p{
    margin-right: 7px;
}
.btn-new-message span{
    display: flex;
    border: 1px solid rgb(211, 214, 39);
    width: 40px;
    height: 30px;
    background-color: rgb(250, 253, 46);
}
.icon-new-message{
    background-color: white;
    margin: auto;
    width: 17px;
    height: 17px;
}

/*PERFIL*/
.nombre-perfil{
    display: flex;
    align-items: center;
    padding: .5em;
    /* border: 1px solid black; */
    width: auto;
    height: 11vh;
}

.nombre-perfil h3{
    font-size: 1.8em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mensaje-privado-perfil{
    display: flex;
    align-items: center;
    height: 4vh;
    justify-content: flex-end;
    padding: .5em;
    /* border: 1px solid black; */
}
.mensaje-privado-perfil a{
    padding: .2em;
    width: 11em;
    font-size: 1.1em;
    font-family:monospace;
    text-align: center;
    text-decoration: none;
    color: rgb(53, 53, 53);
    border: 1px solid rgb(111, 111, 111);
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
}
.mensaje-privado-perfil a:hover{
    background-color: rgb(211, 211, 211);
}
.ultimo-estado-perfil{
    background-color: rgba(215, 215, 215, 0.378);
    display: flex;
    width: 98%;
    margin-left: .5em;
    height: 8vh;
    margin-top: 1em;
    margin-bottom: 3em;
    border-radius: 4px;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border: 1px solid rgb(80, 80, 80);
}
.ultimo-estado-perfil .ultimo-estado{
    display: flex;
}
.ultimo-estado-perfil h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(29, 29, 29);
    font-size: 1.2em;
    margin-right: .5em;
}
.ultimo-estado-perfil p{
    font-size: .9em;
    margin-top: .3em;
    color: rgb(83, 82, 82);
}
.eliminar-estado-btn {
    border: 0;
    color: rgb(0, 0, 160);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: .8em;
    font-weight: bold;
    transition: all .1s ease-in-out;
    }

    .eliminar-estado-btn:hover {
    cursor: pointer;
    text-decoration: underline;
    color:rgb(245, 29, 29);
}


.album-fotos-perfil{
    margin-top: .8em;
    /* border: 1px solid black; */
    width: 20vw;
    max-height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.2em; /* Espacio entre elementos */
}
.album-fotos-perfil img{
    border: 1px solid rgb(155, 155, 155);
    width: 125px;
    height: 90px;
}
.container-fotos-perfil{
    /* border: 1px solid black; */
    padding: .6em;
}
.container-fotos-perfil h4{
    margin-top: 1.3em;
    margin-bottom: .3em;
}
.container-fotos-perfil a{
    color: rgb(0, 0, 160);
}
.container-fotos-perfil a:hover{
    transition: all .1s;
    text-shadow: 1px 1px 6px rgb(83, 83, 83);
}
.container-fotos-perfil a span{
    color: rgb(76, 76, 76);
}

.amigos-perfil{
    margin-top: 1em;
    /* border: 1px solid black; */
    width: 20vw;
    max-height: 50vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: .2em; /* Espacio entre elementos */
    /* border: 1px solid black; */
}

.amigo{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.amigo p{
    font-size: .8em;
    font-weight: bold;
    color: rgb(0, 0, 160);
}
.amigo p:hover{
    text-decoration: underline;
}
.amigo img:hover{
    transition: all .1s;
    box-shadow: 1px 1px 6px rgb(83, 83, 83);
}
.amigo img{
    border: .1px solid rgb(76, 76, 76);
    padding: .1em;
    border-radius: 2px;
    width: 5em;
    height: 5em;
}

.verTodosAmigos {
    color: rgb(0, 0, 160);
}
.verTodosAmigos span {
    color: rgb(76, 76, 76);
}

/*ACTUALIZAR PERFIL*/

.form-actualizar-perfil{
    display: flex;
    padding: 5em;
    flex-direction: column;
border: 1px solid black;
}
.form-actualizar-perfil input{
    padding: .5em;
    margin: .8em;
}

/* HOME */

.nombre-y-notificaciones{
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
}
.nombre-y-notificaciones .nombre-y-foto-perfil{
    display: flex;
    align-items: center;
}
.nombre-y-foto-perfil img{
    padding: .1em;
    margin-top: 1em;
    border: 1px solid rgb(116, 116, 116);
}
.nombre-y-notificaciones p span{
    font-weight: bold;
    color: black;
}
.nombre-y-notificaciones p{
    font-size: 15px;
    margin-left: 1.5em;
    margin-bottom: .3em;
    color:rgb(107, 107, 107);
}
.nombre-y-notificaciones h2{
    margin-left: .5em;
}
.nombre-y-notificaciones img{
    width: 50px;
    height: 50px;
}

/* BÚSQUEDA */

.busqueda-usuarios{
    /* border: 10px solid green; */
    display: flex;
    flex-direction: column;
    padding: 1em;
}
.busqueda-usuarios img{
    width: 7em;
    height: 7em;
    border: 1px solid #747474;
    padding: .1em;
    border-radius: 2px;
    margin-right: 1em;
}
.busqueda-usuarios img:hover{
    box-shadow: 1px 1px 5px black;
    transition: all .2s ease-in-out;
}
.foto-y-datos-busqueda{
    display: flex;
    /* border: 1px solid black; */
}
.datos-busqueda{
    display: flex;
    flex-direction: column;
}
.datos-busqueda a{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 1em;
}
.datos-busqueda a:hover{
    text-decoration: underline;
}
.botones-usuarios-busqueda{
    display: flex;
    padding: .5em;
    align-items: center;
    justify-content: center;
}
.btn-user{
    margin: .5em;
    border: 1px solid rgb(114, 113, 113);
    padding: .2em;
    border-radius: 4px;
    background-color: #c9c9c93e;
    color: #3b3b3b;
}
.btn-user:hover{
    cursor: pointer;
    background-color: #c6c6c685;
}
form .btn-user{
    font-size: 16px;
    height: 3.7vh;
}

.form-group{
    background-color: rgba(215, 215, 215, 0.378);
    display: flex;
    padding: 1em;
    align-items: center;
    border: 1px solid rgb(111, 111, 111);
    width: 98%;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 1.2em;
}
.form-group img{
    padding: .1em;
    border: 1px solid gray;
    border-radius: 2px;
    width: 2.6em;
    height: 2.6em;
}
.form-group input{
    width: 100vw;
    height: 5.5vh;
    margin-left: 1em;
    padding: .4em;
    font-size: 16px;
}
.form-group input::placeholder{
    font-size: 16px;
    color: #626262f3;
}

.comments{
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
}
.comment{
    padding: .8em;
    height: 6em;
    display: flex;
    align-items: center;
    /* border: 1px solid black; */
}
.comment img{
    margin-right: 1em;
    margin-bottom: .8em;
    width: 2.8em;
    height: 2.8em;
    padding: .1em;
    border: 1px solid gray;
    border-radius: 2px;
}
.comment p{
    display: flex;
    align-items: center;
}
.comment span{
    display: flex;
    align-items: center;
    margin-bottom: .8em;
    font-size: 15px;
}
.comment span a{
    font-weight: bold;
    font-size: 15px;
    color: rgb(0, 0, 160);
}
.comment h3{
    color: #2c2c2cdf;
    font-weight: lighter;
    font-size: 13px;
    margin-left: .8em;
}
